@CHARSET "ISO-8859-1";
/*----font embedded -----*/
@font-face {
  font-family: "Britannic";
  src: url("../font/BRITANIC.TTF") format("truetype");
  /* non-IE */ }

body {
  margin: 0 auto;
  padding: 0; }

#clr {
  clear: both; }

/*----header section -----*/
#header {
  height: 170px;
  width: 100%;
  background: url(../images/bg_header.jpg);
  margin: 0 auto;
  padding: 0; }

#header_body {
  margin: 0 auto;
  width: 980px;
  height: 100%;
  background: url(../images/cloud.png); }

.header_body_top_right {
  height: 36px;
  float: right;
  margin-top: 10px; }

.hotline {
  float: left; }

.login_register {
  float: left;
  margin-left: 10px;
  padding-top: 10px; }

.login_login {
  float: left;
  margin-left: 2px;
  padding-top: 10px; }

.logo {
  height: 143px;
  position: absolute;
  margin-top: 10px; }

.view_all_product_top {
  display: none;
  -webkit-transition-duration: 1500ms;
  -moz-transition-duration: 1500ms;
  -o-transition-duration: 1500ms;
  transition-duration: 1500ms;
  z-index: 99; }

.view_all_product_top.click {
  display: block;
  -webkit-transition-duration: 1500ms;
  -moz-transition-duration: 1500ms;
  -o-transition-duration: 1500ms;
  transition-duration: 1500ms;
  width: 815px;
  height: 203px;
  background: url(../images/bg_viewallproducts_transparent.png) repeat-x;
  position: absolute;
  margin-top: 34px;
  margin-left: 0;
  padding: 10px 10px 0 10px;
  border-radius: 0 0 10px 10px; }

/*----body section -----*/
#wrapper {
  background: url(../images/bg_body_100_percent.jpg) repeat-x;
  width: auto;
  position: relative; }

#body_wrapper {
  width: 980px;
  margin: 0 auto; }

#body_header {
  width: 980px;
  height: 41px; }

.body_header_left {
  width: 814px;
  height: 41px;
  float: left;
  position: relative;
  z-index: 100; }

.body_header_left_left {
  width: 15px;
  height: 41px;
  float: left;
  background: url(../images/bg_menu_left.png); }

.body_header_left_body {
  width: 784px;
  height: 41px;
  float: left;
  background: url(../images/bg_menu_mid.png); }

.body_header_left_body_body {
  height: 41px;
  width: 800px;
  position: relative; }

.body_header_left_body ul {
  padding: 0;
  margin: 0 auto;
  float: left; }

.body_header_left_body ul li {
  float: left;
  list-style-type: none;
  height: 41px;
  padding: 10px 14px 5px 13px; }

.body_header_left_body ul li a {
  font-size: 18px;
  font-family: "Britannic";
  color: #fff;
  text-align: center;
  text-decoration: none; }

.body_header_left_body ul li:hover {
  background: url(../images/menu_hover_active_mid.png) repeat-x;
  border-radius: 7px 7px 0 0; }

#viewallproducts {
  float: left;
  width: 240px;
  margin-left: 10px; }

.body_header_left_right {
  width: 15px;
  height: 41px;
  float: left;
  background: url(../images/bg_menu_right.png); }

.body_header_right {
  width: 156px;
  height: 41px;
  float: left;
  margin-left: 10px;
  background: url(../images/btn_basket.png) no-repeat; }

.basket {
  font-family: 'Myriad Pro';
  font-size: 13px;
  color: #fff;
  position: relative;
  top: 20px;
  left: 57px;
  text-decoration: none; }

.body_wrapper_top {
  background: url(../images/bg_body_top.png);
  width: 980px;
  height: 13px;
  margin-top: 10px; }

.body_wrapper_body {
  background: url(../images/bg_body_mid.png) repeat-y;
  width: 980px; }

#body_wrapper_body_wrapper {
  width: 960px;
  margin-left: 10px; }

.body_wrapper_body_wrapper_top {
  width: 960px; }

.body_wrapper_body_wrapper_top_left {
  width: 554px;
  float: left; }
  .body_wrapper_body_wrapper_top_left .panel {
    border: none !important; }
  .body_wrapper_body_wrapper_top_left .tgss-product-heading {
    background: transparent url("../images/product_config_header_bg.jpg") center no-repeat;
    width: 100%;
    height: 57px;
    text-align: center;
    padding-top: 3px;
    font-family: Britannic;
    font-size: 26px;
    color: #fff; }
  .body_wrapper_body_wrapper_top_left .tgss-product-title {
    background: url(../images/dotted_why_choose.png) bottom repeat-x;
    padding: 5px 0 15px 0;
    margin-bottom: 20px; }
    .body_wrapper_body_wrapper_top_left .tgss-product-title .tgss-product-title-left {
      float: left;
      width: 30%;
      text-align: right;
      font-family: Britannic;
      font-size: 18px;
      color: #5e5e5e;
      padding-top: 5px; }
    .body_wrapper_body_wrapper_top_left .tgss-product-title .tgss-product-title-right {
      overflow: hidden;
      padding: 0 5px;
      font-family: Britannic;
      font-size: 24px;
      color: #196aba; }
  .body_wrapper_body_wrapper_top_left .tgss-product-bottom {
    background: url(../images/dotted_why_choose.png) top repeat-x;
    padding-top: 20px; }
  .body_wrapper_body_wrapper_top_left .tgss-product-price {
    background: transparent url("../images/product_price.jpg") left top no-repeat;
    width: 133px;
    height: 86px;
    float: left;
    margin-left: 100px; }
    .body_wrapper_body_wrapper_top_left .tgss-product-price .control-label {
      display: none; }
    .body_wrapper_body_wrapper_top_left .tgss-product-price .form-control-static {
      width: 133px;
      text-align: center;
      font-family: Britannic;
      font-weight: bold;
      font-size: 20px;
      color: #fff;
      padding-top: 30px; }
  .body_wrapper_body_wrapper_top_left .tgss-product-next {
    overflow: hidden;
    padding: 20px 0 0 20px; }
    .body_wrapper_body_wrapper_top_left .tgss-product-next .col-sm-offset-3 {
      margin-left: 0px !important; }
    .body_wrapper_body_wrapper_top_left .tgss-product-next button {
      background: transparent url("../images/product_next_btn.png") left top no-repeat;
      width: 89px;
      height: 36px;
      border: none; }
  .body_wrapper_body_wrapper_top_left th {
    font-family: "Britannic";
    font-weight: 400;
    font-size: 18px;
    color: #006fd8 !important; }
  .body_wrapper_body_wrapper_top_left #shopping_delete {
    background: url("images/cart/delete.png") no-repeat;
    width: 61px;
    height: 22px;
    border: none;
    display: block; }

.body_wrapper_body_wrapper_top_left_body_home {
  background: url(../images/bdr_sider.png);
  width: 554px;
  height: 370px; }

.body_wrapper_body_wrapper_top_left_shadow {
  width: 554px;
  height: 17px;
  background: url(../images/shadow_silder.png); }

.body_wrapper_body_wrapper_top_right {
  width: 396px;
  height: 370px;
  background: #fffce0;
  margin-left: 10px;
  float: left;
  border-radius: 8px; }

.body_wrapper_body_wrapper_top_right_top {
  height: 40px;
  background: url(../images/upper_dark_why_choose.png) no-repeat top;
  font-family: Britannic;
  font-size: 24px;
  color: #e60a48;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: -10px; }

.body_wrapper_body_wrapper_top_right_body {
  background: url(../images/upper_shadow_why_choose.png) no-repeat top;
  height: 100px; }

.body_wrapper_body_wrapper_top_right_body_wrapper {
  width: 396px;
  height: 104px;
  background: url(../images/dotted_why_choose.png) bottom no-repeat; }

.body_wrapper_body_wrapper_top_right_body_wrapper_left {
  width: 115px;
  height: 104px;
  float: left; }

.body_wrapper_body_wrapper_top_right_body_wrapper_right {
  width: 281px;
  height: 104px;
  float: left;
  padding-top: 10px; }

.body_wrapper_body_wrapper_top_right_shadow {
  background: url(../images/shadow_why_choose.png) no-repeat;
  height: 17px;
  width: 396px;
  position: absolute;
  margin-top: 220px; }

.body_wrapper_body_wrapper_bottom {
  width: 960px;
  background: blue; }

.body_wrapper_body_wrapper_bottom_left {
  background: url(../images/bg_blue_tgss_all_products.png) no-repeat;
  width: 180px;
  height: 201px;
  float: left; }

.image_all_products {
  margin-top: 52px;
  margin-left: 10px; }

.body_wrapper_body_wrapper_bottom_body {
  background: url(../images/bg_gray_left_tgss_all_products.png) repeat-x;
  height: 201px;
  width: 767px;
  float: left; }

.body_wrapper_body_wrapper_bottom_right {
  background: url(../images/bg_gray_right_tgss_all_products.png) no-repeat;
  width: 13px;
  height: 201px;
  float: left; }

.body_wrapper_bottom {
  background: url(../images/bg_body_bottom.png);
  width: 980px;
  height: 13px;
  margin-bottom: 10px; }

#all_product_1 {
  float: left;
  list-style-type: none;
  list-style-image: url(../images/ul_dotted_1.jpg);
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #606060;
  line-height: 25px;
  margin-left: -25px; }

#all_product_1 a {
  text-decoration: none;
  color: #606060; }

#all_product_2 {
  float: left;
  list-style-type: none;
  list-style-image: url(../images/ul_dotted_2.jpg);
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #606060;
  line-height: 20px;
  margin-left: -25px; }

#all_product_2 a {
  text-decoration: none;
  color: #606060; }

#all_product_3 {
  float: left;
  list-style-type: none;
  list-style-image: url(../images/ul_dotted_3.jpg);
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #606060;
  line-height: 20px;
  margin-left: -25px; }

#all_product_3 a {
  text-decoration: none;
  color: #606060; }

/*----footer section -----*/
#footer {
  background: url(../images/bg_footer.png) repeat-x;
  width: auto;
  height: 243px; }

#footer_body {
  width: 980px;
  height: 243px;
  margin: 0 auto; }

.footer_body_top {
  width: 980px; }

.footer_body_title {
  font-family: Britannic;
  font-size: 16px;
  color: #175cb4; }

.payments_power_by {
  float: left;
  margin-top: 20px; }

.payments_power_by img {
  margin-top: 16px; }

.popular_products {
  float: left;
  margin-left: 80px;
  margin-top: 18px; }

.popular_products ul {
  margin: 0;
  padding: 0;
  margin-top: 16px; }

.popular_products ul li {
  list-style-type: none;
  line-height: 1.2em; }

.popular_products ul li a {
  text-decoration: none;
  font-family: Myriad Pro;
  font-size: 14px;
  color: #616060; }

.popular_products_more {
  width: 55px;
  height: 19px;
  background: url(../images/btn_more.png) red no-repeat; }

.contact_us_and_we_locate_here {
  margin-left: 70px;
  float: left;
  margin-top: 20px; }

.contact_us_and_we_locate_here_1 {
  font-family: 'Myriad Pro';
  font-size: 13px;
  width: 230px;
  margin-top: 16px;
  color: #606060;
  line-height: 20px; }

.contact_us_and_we_locate_here_1 span {
  font-family: Myriad Pro;
  font-size: 15px;
  color: #c72125; }

.map {
  float: left;
  width: 251px;
  height: 203px;
  background: url(../images/map.png) no-repeat;
  margin-left: 20px; }

.footer_body_line {
  background: url(../images/line_footer.png) repeat-x;
  width: 980px;
  height: 1px; }

.footer_body_bottom {
  width: 980px; }

.copyright {
  font-family: Myriad Pro;
  font-size: 13px;
  color: #757575;
  margin-top: 14px;
  float: left; }

.footer_body_bottom_link {
  font-family: Myriad Pro;
  font-size: 13px;
  color: #757575;
  margin-top: 14px;
  margin-left: 27px;
  float: left; }

.footer_body_bottom_link a {
  text-decoration: underline;
  color: #757575;
  float: left; }

.fb {
  width: 138px;
  height: 20px;
  background: url(../images/ico_facebook.png) left no-repeat;
  float: left;
  margin-top: 8px;
  font-family: Myriad Pro;
  font-size: 13px;
  color: #3b5998;
  padding-left: 25px;
  padding-top: 5px;
  margin-left: 210px; }

.fb a {
  color: #3b5998;
  text-decoration: none; }

/*---- configure product section -----*/
.body_wrapper_body_wrapper_top_left_body_product {
  width: 544px; }

.body_wrapper_body_wrapper_top_left_body_product_header {
  width: 544px;
  height: 54px;
  background: #1f73c3; }

.body_wrapper_body_wrapper_top_left_body_product_title {
  width: 544px;
  height: 61px; }

.body_wrapper_body_wrapper_top_left_body_product_title_left {
  font-family: Britannic;
  font-size: 18px;
  color: #5e5e5e;
  float: left;
  margin-left: 114px;
  margin-top: 19px; }

.body_wrapper_body_wrapper_top_left_body_product_title_right {
  font-family: Britannic;
  font-size: 24px;
  color: #196aba;
  float: left;
  margin-left: 10px;
  margin-top: 15px; }

.body_wrapper_body_wrapper_top_left_body_product_dotted {
  width: 544px;
  height: 1px;
  background: url(../images/dotted_configure_product.png) red; }

.body_wrapper_body_wrapper_top_left_body_product_body {
  width: 544px; }

.body_wrapper_body_wrapper_top_left_body_product_body table {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 20px 0; }

.body_wrapper_body_wrapper_top_left_body_product_body_left {
  width: 114px;
  height: 40px;
  text-align: right;
  font-family: Myriad Pro;
  font-size: 18px;
  color: #606060; }

.body_wrapper_body_wrapper_top_left_body_product_body_right {
  width: 340px;
  height: 40px; }

.body_wrapper_body_wrapper_top_left_body_product_fooder {
  width: 544px;
  height: 86px;
  margin: 20px 0 20px 0; }

/*---- about us -----*/
#wrapper_body_body {
  padding: 10px 10px 0 30px; }

#britannic_title {
  font-family: Britannic;
  font-size: 24px;
  color: #196aba; }

#title_line {
  height: 1px;
  width: 920px;
  background: url(../images/line_footer.png) repeat-x;
  margin: 10px 0; }

#about_text_1 {
  font-family: 'Myriad Pro';
  font-size: 15px;
  color: #606060; }

#about_text_2 {
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #606060;
  margin: 15px 0; }

#about_text_3 {
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #606060; }

#about_three {
  margin-top: 30px; }

#about_three_1 {
  width: 276px;
  height: 301px;
  background: #9b1818;
  float: left;
  padding: 10px; }

.about_three_1_title {
  font-family: 'Britannic';
  font-size: 24px;
  color: #ffffff;
  text-align: center; }

.about_three_1_img {
  width: 68px;
  height: 72px;
  margin: 30px 0 0 104px; }

.about_three_1_text {
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #ffffff;
  margin-top: 20px;
  text-align: left; }

#about_three_2 {
  width: 276px;
  height: 301px;
  background: #013876;
  float: left;
  margin: 0 15px;
  padding: 10px; }

.about_three_2_title {
  font-family: 'Britannic';
  font-size: 24px;
  color: #ffffff;
  text-align: center; }

.about_three_2_title_1 {
  font-family: 'Myriad Pro';
  font-size: 16px;
  color: #ffffff;
  text-align: center; }

.about_three_2_img {
  width: 126px;
  height: 56px;
  margin: 22px 0 0 75px; }

.about_three_2_text {
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #ffffff;
  margin-top: 20px;
  text-align: left; }

#about_three_3 {
  width: 276px;
  height: 301px;
  background: #745a00;
  float: left;
  padding: 10px; }

.about_three_3_title {
  font-family: 'Britannic';
  font-size: 24px;
  color: #ffffff;
  text-align: center; }

.about_three_3_img {
  width: 101px;
  height: 72px;
  margin: 30px 0 0 90px; }

.about_three_3_ul {
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #ffffff;
  margin-top: 20px; }

.about_three_3_ul ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  list-style: none;
  list-style-image: url(../images/about_arrow.png);
  line-height: 25px; }

#about_text_4 {
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #606060;
  margin-top: 20px; }

/*---- about us -----*/
#delivery_text {
  font-family: 'Myriad Pro';
  font-size: 16px;
  color: #606060;
  font-weight: 600;
  margin: 20px 0 13px 0; }

#delivery_ul ul {
  margin: 0;
  padding: 0;
  font-family: 'Myriad Pro';
  font-size: 14px;
  color: #606060;
  list-style: none;
  list-style-image: url(../images/delivery_arrow.png);
  margin-left: 10px; }

#delivery_ul ul li {
  padding: 7px 0; }

/*---- about us -----*/
#faq_body {
  width: 920px;
  height: 400px;
  background: red; }

#faq_body_left {
  width: 451px;
  height: 300px;
  background: green;
  float: left; }

.faq_mes_top {
  width: 451px;
  height: 86px;
  background: url(../images/bg_faq_left_up.png) no-repeat; }

.faq_mes_body {
  width: 451px;
  background: url(../images/bg_faq_left_mid.png) repeat-y; }

.faq_mes_down {
  width: 451px;
  height: 12px;
  background: url(../images/bg_faq_left_down.png) no-repeat; }

/*** "form" start ***/
.form-horizontal {
  margin-bottom: 0px; }

.form-horizontal .last-form-row {
  margin-bottom: 0px; }

/*** "form" end ***/
.item_left {
  float: left;
  padding: 10px 30px; }

.item_right {
  overflow: hidden;
  zoom: 1;
  padding: 0 30px;
  border-left: 1px dotted #cec893; }
  .item_right .tgss-product-heading {
    width: 100%;
    text-align: center;
    padding-top: 3px;
    font-family: Britannic;
    font-size: 26px;
    color: blue; }
  .item_right .tgss-product-title {
    background: url(../images/dotted_why_choose.png) bottom repeat-x;
    padding: 5px 0 15px 0;
    margin-bottom: 20px; }
    .item_right .tgss-product-title .tgss-product-title-left {
      float: left;
      width: 30%;
      text-align: right;
      font-family: Britannic;
      font-size: 18px;
      color: #5e5e5e;
      padding-top: 5px; }
    .item_right .tgss-product-title .tgss-product-title-right {
      overflow: hidden;
      padding: 0 5px;
      font-family: Britannic;
      font-size: 24px;
      color: #196aba; }
  .item_right .tgss-product-bottom {
    background: url(../images/dotted_why_choose.png) top repeat-x;
    padding-top: 20px; }
  .item_right .tgss-product-price {
    background: transparent url("../images/product_price.jpg") left top no-repeat;
    width: 133px;
    height: 86px;
    float: left;
    margin-left: 100px; }
    .item_right .tgss-product-price .control-label {
      display: none; }
    .item_right .tgss-product-price .form-control-static {
      width: 133px;
      text-align: center;
      font-family: Britannic;
      font-weight: bold;
      font-size: 20px;
      color: #fff;
      padding-top: 30px; }
  .item_right .tgss-product-next {
    overflow: hidden;
    padding: 20px 0 0 20px; }
    .item_right .tgss-product-next .col-sm-offset-3 {
      margin-left: 0px !important; }
    .item_right .tgss-product-next button {
      background: transparent url("../images/product_next_btn.png") left top no-repeat;
      width: 89px;
      height: 36px;
      border: none; }

#shopping_nav {
  width: 100%;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 10px; }
  #shopping_nav .shopping_nav_item {
    position: relative;
    width: 32.6%;
    height: 50px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    font-family: "Myriad Pro";
    font-size: 16px;
    color: #fff;
    text-align: center; }
    #shopping_nav .shopping_nav_item .content {
      height: 40px;
      padding-top: 5px;
      background: #d6d6d6; }
      #shopping_nav .shopping_nav_item .content .title {
        font-family: "Britannic";
        font-weight: 700;
        font-size: 22px; }
  #shopping_nav .shopping_complete {
    margin-right: 0px !important; }
  #shopping_nav .active {
    background: url("images/cart/basket-active.png") no-repeat center 40px; }
    #shopping_nav .active .content {
      background: #006fd8; }

.shopping_continue {
  overflow: hidden;
  margin-bottom: 10px; }
  .shopping_continue a {
    background: url("images/cart/continue_shopping.png") no-repeat;
    width: 204px;
    height: 36px;
    display: block;
    float: right; }

.cart, .cart:hover, .cart:focus {
  color: #fff !important; }

#shopping_footer {
  margin-bottom: 10px;
  overflow: hidden;
  float: right; }
  #shopping_footer #shopping_total {
    padding: 10px 10px;
    border: 1px dotted #3c3c3c;
    display: block;
    width: 240px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Britannic";
    font-weight: 700;
    font-size: 20px;
    color: #434343; }
    #shopping_footer #shopping_total span {
      color: #c12126; }
  #shopping_footer #shopping_checkout a {
    background: url("images/cart/checkout.png") no-repeat;
    width: 240px;
    height: 36px;
    display: block; }

.shopping_type {
  font-family: "Britannic";
  font-weight: 700;
  font-size: 22px;
  color: #006fd8 !important; }

#order_billin_form {
  text-align: center;
  margin: 0;
  padding: 0; }
  #order_billin_form input[type='text'] {
    width: 95%;
    float: left; }
  #order_billin_form #require_star {
    overflow: hidden; }
  #order_billin_form textarea {
    width: 415px; }
  #order_billin_form .chosen-container {
    margin-right: 20px; }

#require_star {
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
  color: #434343; }
  #require_star span {
    color: #c30000; }

.order_header {
  height: 40px;
  border-radius: 10px 10px 0 0;
  padding-top: 3px;
  font-family: "Britannic";
  font-weight: 700;
  font-size: 24px;
  color: #fff; }

.order_form_body {
  background: #fafafa;
  padding-top: 10px;
  padding-bottom: 10px; }
  .order_form_body span {
    font-family: "Myriad Pro";
    font-weight: 400;
    font-size: 14px;
    color: #959595;
    display: block;
    margin-bottom: 10px; }

#billing_form {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px; }
  #billing_form .order_header {
    background: #f01562; }

#delivery_form {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px; }
  #delivery_form .order_header {
    background: #deb90a; }
  #delivery_form .checkbox {
    margin-bottom: 10px; }
    #delivery_form .checkbox input[type="checkbox"] {
      float: none; }
  #delivery_form #delivery-form-wrapper {
    display: none; }

.order_proceed_to_payment {
  margin: 0;
  padding: 0; }
  .order_proceed_to_payment button {
    background: url("images/cart/proceed_to_payment.png") no-repeat;
    width: 224px;
    height: 36px;
    display: block;
    margin: 0 auto;
    margin-top: 10px; }
